*{
    margin: 0;
    padding: 0;
 }
nav {
    background-color:lightcoral;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border: 2px solid black;
}

nav a {
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: capitalize;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 180px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
}




